Epic Iteration 1{
    Create an application to mint nft items posted to ipfs using the ethereum network call iNFT.
    Story 1{
        iNFT shall be able to create an nft
        Subtask 1{
            //todo: add tasks
        }
    }
    Story 2{
        iNFT shall be able create the nft from a base line windows 10 machine
    }
    Story 3{
        iNFT shall use a GUI to facilitate creating the nft
    }
    Story 4{
        //todo: add story
    }
}
Epic Iteration 2{
    iNFT shall have security features added to the system
}
Epic Iteration 3{
    iNFT shall let the user retrieve a list of nfts associated with an account and display them if the nft is a format that is capable of being displayed
}
Epic Iteration 4{
    //todo: add new iteration
}
